<h1 xmlns="http://www.w3.org/1999/html"> HB RESTAURANT MENU</h1>
  <div class="btn-group">
  <ul class="nav nav-pills"
    <li class="nav-items">
  <% @sections.each do |section| %>
    <%= link_to section.name, menu_path(section: section.name),
                class: "nav-link #{'active' if params[:section] == section.name}"%>
  <% end %>
    </li>
  </ul>
  </div>

<div class='card card-block'>
  <%= form_tag nil, method: 'get' do %>
      <%= hidden_field_tag :section, params[:section]%>
      <div class='form-inline'>
        <%= select_tag :sort_column,  options_for_select([['Name', 'name'], ['Price', 'price']], params[:sort_column]), class: 'form-control'%>
        <%= select_tag :sort_direction, options_for_select([['Ascending', 'asc'], ['Desending', 'desc']], params[:sort_direction]), class: 'form-control' %>
        <%= submit_tag 'Apply', class: 'btn btn-secondary' %>
      </div>
  <% end %>
</div>


<% @food_items.each.with_index do |item, index| %>
    <% if index.even? %>
        <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-block">
                <h4 class="card-title" style="align-content: center"><%= link_to item.name, food_item_path(id: item.id) %></h4>
                <h6 class="card-subtitle mb-2 text-muted"><%= item.description %></h6>
                <h6 class="card-subtitle mb-2 text-muted"><%= "#{item.price} vnđ"%></h6>


                <%= image_tag item.image_ur_or_default, :size => "200x200" %></p>
                <%= form_tag(orders_new_path, :method => "post", id: "search-form", :class => 'form-inline my-2 my-lg-0' ) do %>
                    <%= hidden_field_tag :food_item, item.id%>
                    <%= submit_tag "Order Now", class: "btn btn-secondary" %>
                <% end %>
              </div>

            </div>
          </div>
    <% else %>
        <div class="col-lg-6">
          <div class="card">
            <div class="card-block">
              <h4 class="card-title" style="align-content: center"><%= link_to item.name, food_item_path(id: item.id) %></h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= item.description %></h6>
              <h6 class="card-subtitle mb-2 text-muted"><%= "#{item.price} vnđ"%></h6>


              <%= image_tag item.image_ur_or_default, :size => "200x200" %></p>
              <%= form_tag(orders_new_path, :method => "post", id: "search-form", :class => 'form-inline my-2 my-lg-0' ) do %>
                  <%= hidden_field_tag :food_item, item.id%>
                  <%= submit_tag "Order Now", class: "btn btn-secondary" %>
              <% end %>
            </div>

          </div>
        </div>
        </div>
    <% end %>
<% end %>
