<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="<%= root_path %>">HOME</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Menu", menu_path	, class: 'nav-link' %>
      </li>
      <li class="nav-item active">
        <%= link_to "Contact US", home_contact_us_path	, class: 'nav-link' %>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <%= form_tag menu_path, :method => 'get', class: 'input-group'  do %>
        <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search for...' %>
        <%= submit_tag "Search", class: "btn btn-default" %>
      <% end %>

    </form>
  </div>
</nav>

